experiments/
__pycache__
*.swp
tests/dataset/
tests/index/
tests/exp/
tests/run/
config/rag-ncp.yaml
/mistral-baseline/xrag_128
/mistral-baseline/xrag_30
modules/sedWI9tLD
modules/sedXBPyUc
models/generators/sed3rastF
/runs/custom
runs/.DS_Store
slurm/basic.sh
slurm/basic.sh
/slurm
trec_rag_test_2024
